<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_test.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from employee
    </select>

    <select id="queryUserById" resultType="User">
        select * from employee where id = #{id}
    </select>

    <insert id="addUser" parameterType="User">
        insert into employee values(#{id}, #{last_name}, #{gender}, #{email})
    </insert>

    <update id="updateUser" parameterType="User">
        update employee set last_name = #{last_name}, gender = #{gender}, email = #{email} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from employee where id = #{id}
    </delete>
</mapper>